@media only screen and (orientation: landscape) { 

    /* Preload images */
    body:before {
        display: none;
        content: url('/img/sample_background.jpg')
    }
    
    html, body {
        width: 100%;
        height: 100%;
    } 
    
    body {
        overflow-y: hidden ! important;
        overflow-x: hidden ! important;
        background-image: url('/img/sample_background.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    :-webkit-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}
	:-moz-full-screen {
		background: url('/img/sample_background.jpg');
		background-size: 100% 100%;
	}


    #pause {
        position: absolute;
        right: 0;
        top: 5%;
        width: 12%;
    }

    .move_direction {
        height: 40%;
        width: 40%;
        background: #000000; /*the colour of the button*/
        /*style the text*/
        font-size:4.0em;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        border-radius: 10px;
		position: absolute;
    }

	#left_button {
        left: 5%;
        top: 30%;
	}
	
	#right_button{
        right: 5%;
        top: 30%;
	}
	
}
